* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* @media (max-width: 700px) {
    html {
        font-size: 70%;
    }
} */

a {
    color: white;
    text-decoration: none;
}

body {
    position: relative;

    background-image: linear-gradient(160deg, black 30%,
            rgb(0, 0, 0, .95) 50%,
            rgba(0, 0, 0, 0.9) 70%,
            rgb(0, 0, 0, .8) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: poppins;

    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.left-bar {
    height: 100vh;
    width: 15%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(231, 159, 159);
}

.section-container {
    width: 85%;
}

.section {
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

@media (max-width: 700px) {
    .section {
        padding: 1rem;
    }
}

#section1 {
    /* background: rgba(255, 0, 0, 0.315); */

    display: flex;
    align-items: center;
    /* flex-basis: 1; */

    position: relative;
}

.main-heading {
    padding: 2rem;
}

@media (max-width: 700px) {
    .main-heading {
        padding: .5rem;
    }
}

.head-top {
    margin-bottom: clamp(5rem, 40vh, 30rem);
}

h1 {
    font-weight: 600;
    font-size: clamp(2rem, 5vw, 7rem);
}

.ball-svg {
    position: relative;
    top: 3rem;
    width: clamp(15rem, 35vw, 40rem);
    aspect-ratio: 1;
    z-index: -1;
}
/*  */

@media (max-width: 1000px){
    .left-bar {
        display: none;
    }
    .section-container {
        width: 100%;
    }

    h1 {
        font-weight: 600;
        font-size: clamp(2rem, 10vw, 7rem);
    }
}

@media (max-width: 900px) {

    

    .ball-container {
        position: absolute;
        right: clamp(0rem, 5vw, 10rem);
        left: auto;
    }
}

/* section 2 */

#section2 {
    display: grid;
    grid-template-areas: "insta insta"
    "idk mail"
    "github github";
    grid-template-columns: 1fr 1fr;

    background: rgba(241, 240, 239, 0.219);
}

.social-1 {
    grid-area: insta;
}

.social-2 {
    grid-area: mail;
}

.social-3 {
    grid-area: github;
}

[class*="social"] {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 2vw, 3rem);
}

.logo-svgs {
    width: clamp(4rem, 10vw, 8rem)
}

.logo-ref .title {
    font-size: 2rem;
}

/* sec-3 about */
#section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about {
    width: 100%;
    max-width: 45rem;
    margin-top: 20vh;
}

.about-heading {
    font-size: 3rem;
    font-weight: 700;
}

.copyright {
    margin-top: auto;
}
